{% extends 'partials/base.html.twig' %}

{% block content %}
	<section id="home">
	<section class="page-home">		
		{% for module in page.collection() %}
			{{ module.content }}
    	{% endfor %}
	</section>	
{% endblock %}
