#bio-page .bio {
    width: 100%;
    overflow: auto;
}

#bio-page .bio img {
    width: 30%;
    float: left;
}

#bio-page .bio .text {
    padding-left: 2rem;
    width: 70%;
    float: left;
}

@media (max-width: 960px) {
    #bio-page .bio img,
    #bio-page .bio .text {
        width: 100%;
        clear: both;
    }
    #bio-page .bio .half.image {
        text-align: center;
    }
}
