#bio-page .bio {
    width: 100%;
    overflow: auto;
}

#bio-page img {
    max-width: 100%;
}

#bio-page li {
    list-style-type: none;
}

#bio-page .contactos i {
    margin-right: 1rem;
    font-size: 2rem;
    position: relative;
    top: 4px;
    color: #F65F5F;
}

@media (max-width: 960px) {
    #bio-page .bio img,
    #bio-page .bio .text {
        width: 100%;
        clear: both;
    }
    #bio-page .bio .half.image {
        text-align: center;
    }
}
            