#body p,
#body li {
    font-size: 1.3rem;
}

#body p {
    font-size: 1.3rem;
}

ul.navigation a {
    font-size: 1rem;
    text-transform: uppercase;
}

#logo img {
    max-width: 30%;
    transition: opacity 300ms;
}

#logo img:hover {
    opacity: 0.7;
}

#logo img.logo2 {
    max-width: 55%;
}

header#header {
    box-shadow: none;
    background-color: #fff;
}

@media (max-width: 960px) {
    .langswitcher {
        display: none;
    }
}
