body.home-page section#body {
    max-width: 1600px;
    width: 100%;
    padding: 0;
    overflow-y: hidden;
}

#home .page-home {
    margin-top: 4rem;
}

#home h1,
#home h2,
#home h3,
#home h4,
#home h5,
#home h6,
#home h1+h2 {
    text-align: center;
}

#home p {
    margin: 0;
}

#home .parallax {
    padding-bottom: 5rem;
}

#home .parallax .layer {
    position: relative;
    text-indent: -9999px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#home .parallax .block-image .capture {
    display: none;
}

#home .parallax .first-block .block-image .capture {
    display: block;
}

#home .parallax .first-block .block-image {
    height: 100vh;
}

#home .parallax .block-image {
    height: 70vh;
}

#home .parallax .block-image .capture {
    padding: 20em;
    margin: 0 auto;
    text-indent: 0;
}

#home .parallax .block-image .capture > * {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

#home .block-text {
    text-align: center;
    padding-left: 12rem;
    padding-right: 12rem;
    margin: 0 auto;
}

#home section {
    padding: 3em;
}

#home .block-image-mobile {
    display: none;
}

@media (max-width: 960px) {
    #home .parallax {
        margin-top: 6rem;
    }
    #home .block-image-mobile {
        display: block;
    }
    #home .block-image {
        display: none;
    }
    #home .block-text {
        padding-right: 0;
        padding-left: 0;
    }
    #home section {
        padding: 1em;
    }
    #home .parallax .block-image .capture {
        padding: 0rem;
        padding-top: 12rem;
    }
}
                                